

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  justify-items: center;
  align-items: center;
}

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 7px;
  opacity: 0.9;
  
}

#login-header {
  color: #FF703F;
}
#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field {
  border: 2px solid #FF703F;
  border-radius: 4px;
  align-items: center;
  padding: 0px 0px 5px 5px;
  color: #182D32;
  outline:none;
}

#login-form-submit{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #FF703F;
  color: #FCFCFB;
  transition: all 0.3s ease;
}

#login-form-submit:hover {
  color: #528DA7;
  transition: all 0.3s ease;
}


