

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Copperplate, Papyru;
  display: grid;
  justify-items: center;
  align-items: center;
}

#main-holder {
  width: 50%;
  height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 7px;
  opacity: 0.9;
  
}


#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field {
  border: none;
  align-items: center;
  padding: 0px 0px 5px 5px;
}

.login-button{
  top: 5px;
  
  color: orange;
  padding: 7px 15px;
}
#login-form-submit {
  width: 100%;
  padding: 0px;
  border: none;
  border-radius: 5px;
  
  font-weight: bold;
  background-color: whitesmoke;
  cursor: pointer;
  outline: none;
}

